@import "settings";
@import "foundation";
$blue: #305486;
$lightgray: #dddddd;

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

@media (min-width: 641px) {
  .border-left { border-left: 1px solid $lightgray; }
  .border-right { border-right: 1px solid $lightgray; }
  .border-top { 
    border-top: 1px solid $lightgray; 
    margin-top: 20px;
  }
  .border-bottom { 
    border-bottom: 1px solid $lightgray; 
    margin-bottom: 20px;
  }
  section#main { min-height: 390px; }
  #header, #header .titles { 
    margin-top: 20px; 
  }
}

@media (max-width: 640px) {
  #header {
    .row { text-align: center; }
  }
}
}


img.site-pic {
  width: 150px;
  border-radius: 50%;
}


.card {
  padding-top: 15px;
}

.panel h4, li .button.secondary {
  color: $blue
}

footer {
  background-color: $blue;
  color: $lightgray;
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: thin;
  h4 {
    color: $lightgray;
  }
}
img.left.th { margin-right: 20px; margin-bottom: 10px; }

.medium-3 .sub-nav dd {
  margin-left: 0;
  margin-right: 0;
  a {
    padding-right: 0.5rem; padding-left: 0.5rem;
  }
}
h6 { color: #999; font-weight: 600; }