<footer>
  <div class="row">
    <div class="medium-12 columns">
      <ul class="inline-list">
      {% for item in site.footer %}
        <li>
        {% if item.href %}
          <a href="{{ item.href }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</footer>

  <script src="/static/jquery.js"></script>
  <script src="/static/foundation.js"></script>
  <script type="text/javascript">
    var disqus_shortname = 'michaelsnook';
    (function () {
      var s = document.createElement('script');
      s.async = true; s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  </script>
</body>
</html>
