<!DOCTYPE html>
<html>
<head>

  <title>
    {{site.title}}
    {% if page.title or page.fb_title %}
      | {{ page.title|default:page.fb_title }}
    {% endif %}
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" sizes="64x64" href="/favicon.png" type="image/png" />
  <link rel="apple-touch-icon" sizes="64x64" href="/favicon.png" />

  <link rel="stylesheet" href="/css/app.css" />

  <meta property="og:type" content="article" />
  <meta property="og:locale" content="en_US" />
  <meta property="fb:app_id" content="1564645803756207" />
  <meta property="article:author" content="https://www.facebook.com/michael.snook" />
  <meta property="article:publisher" content="https://www.facebook.com/michael.snook" />
  <meta property="og:description" content="{% if page.fb_description %}{{ page.fb_description }}{% else if page.excerpt %}{{ page.excerpt | strip_html | truncatewords: 50 }}{% else if site.fb.description %}{{ site.fb.description }}{% endif %}" />
  <meta property="og:image" content="{{ site.domainroot }}{% if page.image %}{{ page.image }}{% else if site.fb.image %}{{ site.fb.image }}{% endif %}" />
  <meta property="og:title" content="{% if page.fb_title %}{{page.fb_title}}{% else if page.title %}{{ page.title}}{% else if site.fb.description %}{{ site.fb.description }}{% endif %}" />
  <meta property="og:site_name" content="{{ site.fb.site_name }}" />
  <meta property="og:url" content="{{ site.domainroot }}{{ page.url }}" />
  <script src="/static/modernizr.js"></script>

</head>
<body>

<nav id="header" class="site-pic">
  <div class="row">
    <div class="medium-3 columns">
      <img class="site-pic" src="/static/images/face.jpg">
    </div>
    <div class="small-12 medium-9 columns titles">
      <a href="/"><h1>michael snook&rsquo;s</h1></a>
      <h3 class="subheader">weblog and project pad</h3>
    </div>
  </div>
</nav>
