<!DOCTYPE html>
<html>
<head>
  <title>{{ site.title }} {% if page.title %}| {{ page.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/static/images/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="/css/app.css" />

  <meta property="og:description" content="" />

  <script src="/static/javascripts/modernizr.js"></script>
</head>
<body>
<nav id="header" class="site-pic">
  <div class="row">

    <div class="medium-3 columns">
      <img class="site-pic" src="/static/images/face.jpg">
    </div>
    <div class="small-12 medium-9 columns titles">
      <a href="/"><h1>michael snook's</h1></a>
      <h3 class="subheader">weblog and project pad</h3>
    </div>
  </div>
</nav>
