<!DOCTYPE html>
<html>
<head>
  <title>{{ site.title }} {% if page.title %}| {{ page.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="static/images/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="static/stylesheets/normalize.css" />
  <link rel="stylesheet" href="static/stylesheets/foundation.css" />
  <link rel="stylesheet" href="static/stylesheets/foundation-icons.css" />
  <link rel="stylesheet" href="static/stylesheets/styles.css" />

  <script src="static/javascripts/modernizr.js"></script>
</head>
<body>
<nav id="header">
  <div class="row">
    <div class="small-12 columns text-center">
      <h1>Michael Snook <small>[dot com]</small></h1>


    </div>
  </div>
</nav>
<div class="body-wrapper">
  <div class="row">
    <div class="medium-7 columns">
    {{ content }}
    </div>
    <div class="medium-5 columns sticky">
      <div class="row panel" id="sidebar">
        <div class="small-12 columns">
          <h4>About this site</h4>

<!--div data-alert class="alert-box radius warning">
  This is a warning that the site is UNDER CONSTRUCTION. The close button on this alert hasn't even been turned on.
  <a href="#" class="close">&times;</a>
</div-->

          <p>I suppose I'll use this space to talk about the site, while I'm
              using the site to talk about interesting ideas or projects I'd
              like to do.</p>
          <p>Perhaps check out a few things I made:
            <ul><li><a href="http://eightglasses.herokuapp.com/">Eight Glasses</a>
            is an app I made for fun and to learn python.</li>
            <li><a href="http://spaceparty.github.io/space-party-website/">
            The Space Party</a> is a radical tongue-in-cheek socialist
            libertarian pacifist futurist party I am working on.
            (<a href="http://www.coactivate.org/projects/spaceparty/blog/2013/11/16/why-the-space-party/">Read about it here</a>, and sign up for the mailing list,
            if you're into that sort of thing.)</li>
            <li>Also, <a href="http://boldprogressives.org/">BoldProgressives.org</a>,
            which is not a site I built so much as where I work.</li></ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="row">
    <div class="medium-12 columns">
      <ul class="inline-list">
        {% for item in site.footer %}
        <li>{% if item.href %}<a href="{{ item.href }}">{% endif %}
          {% if item.icon %}<i class="fi-{{ item.icon }}"></i>{% endif %}
          {% if item.text %}{{ item.text }}{% endif %}
        {% if item.href %}</a>{% endif %}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</footer>

	<script src="static/javascripts/jquery.js"></script>
	<script src="static/javascripts/foundation.js"></script>

  <script>
  $(document).ready(function() {

    // site javascript here

  });
  </script>

</body>
</html>
