{% include header.html %}

<div class="body-wrapper">
  <div class="row">

    {% include left_sidebar.html %}

    <div class="medium-6 columns">
    <section id="main" class="border-top">

      <div class="row">
        <div class="small-12 columns card">
          <small><em>{{ page.datestring }}</em></small>
          <h2>
            <a href="{{ post.url }}">{{ page.title }}</a>
          </h2>
          <div>
          {{ content }}

          </div>
          <p><a href="{{ post.url }}#disqus_thread">Comments</a></p>

          {% include disqus.html %}
        </div>
      </div>

    </section>
    </div>

    {% include right_sidebar.html %}

  </div>
</div>

{% include footer.html %}
